@use 'mixins' as *;

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url +  'NotoSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url +  'NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url +  'NotoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url +  'NotoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url +  'NotoSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url +  'NotoSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url($fonts_url + 'NotoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.funclub {
  flex-wrap: wrap;

  .post-small {
    .post__label {
      &.game {
        background: $background-main;
        border: 1px solid $button-gray;
        color: $text-main;
      }
    }

    .post__content {
      &-title {
        max-height: 4.5em;
      }
    }

    .post__footer {
      margin-top: 0.3em;
    }

    .base-button.comment {
      background: $background-main;
      border: 1px solid $button-gray;
      color: $text-main;
    }
  }
}

.meme {
  flex-wrap: wrap;

  .post-small {
    .post__label {
      &.game {
        background: $background-main;
        border: 1px solid $button-gray;
        color: $text-main;
      }
    }

    .post__content {
      &-title {
        max-height: 4.5em;
      }
    }

    .post__footer {
      margin-top: 1em;
    }

    .base-button.comment {
      background: $background-main;
      border: 1px solid $button-gray;
      color: $text-main;
    }

    .post__image-wrapper {
      height: 335px !important;
    }
  }
}

.comments-live {
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: start;


  &::after {
    content: '';
    width: 7px;
    height: 7px;
    background: #E2005F;
    border-radius: 50%;
    margin-top: 10px;
  }

  &-block {
    .feed__single {
      grid-template-rows: 1.5em 6em;

      &-title {
        max-height: 2.5em;
        margin-bottom: 0.5em;
        font-size: 16px;
        line-height: 20px;
      }

      &-comment {
        max-height: 2.5em !important;
        font-size: 16px !important;
        line-height: 22px !important;
        color: $text-main !important;
      }
    }
  }


}