@use 'src/css/additional/mixins' as *;
@import 'src/css/additional/fonts';
@import 'src/css/additional/nullifier';
@import 'src/css/additional/bootstrapClasses';


body {
  color: $text-main;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 400;

  &.stop-scroll {

    overflow: hidden;
  }

}

ol {
  li {
    //list-style: auto;
    list-style: decimal inside;
  }
;
}

.m10 {
  margin: 10px;
  @include respond($xs) {
    margin-left: 7px;
    margin-right: 7px;
  }
}

.ma {
  margin: auto;
  display: flex;
}

.m10-b {
  margin-bottom: 10px;
}

.m10-t-b {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m30-t {
  margin-top: 50px;
}

.m0-t {
  margin-top: 0;
}

.mhead {
  margin-top: 23px;
  margin-bottom: 10px;
}

.m10-l-r {
  margin-left: 10px;
  margin-right: 10px;
}

.m20-b {
  margin-bottom: 20px;
}

.m20-b-t {
  margin-bottom: 20px;
  margin-top: 20px;
}

.p30-b {
  padding-bottom: 30px;
}

.mslider {
  margin-top: 40px;
  margin-left: 1.667em
}

h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.36;
  @include respond($sm) {
    font-size: 24px;
  }


}

h2 {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 900;
  @include respond($sm) {
    font-size: 20px;
  }

}

h3 {
  font-size: 20px;
  line-height: 1.5em;

  font-weight: 700;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.basic-input {

  font-size: 13px;
  padding: 0.5em 0.5em 0.5em 3em;
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 100%;

  color: $text-main;
  background-color: $background-main;
  outline: none;
  border: 1px solid $background-main;

  background-repeat: no-repeat;
  background-position: 1em 50%;


  &::placeholder {
    color: $text-second;
  }

  &:hover {
    background-color: $white;
    cursor: pointer;
    border: 1px solid $border-main;
  }

  &:focus {
    background-color: $white;
    border: 1px solid $border-second;
    box-shadow: $shadow-main;
  }

}

.search {
  background-image: url($img_icons_url + '../../img/icons/search.svg');

  &-wrapper {
    width: 305px;

    @include respond($lg) {
      width: 250px;
    }
    @include respond($sm) {
      margin-bottom: 5px;
    }

  }
}


.container {
  @include respond($md) {
    min-width: 100%;
  }
  @include respond($sm) {
    padding-left: 1em;
    padding-right: 1em;
  }

}


.base-button {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  padding: 0.4em 1em 0.25em 1em;
  border-radius: 4px;

  border: none;
  outline: none;

  &.comment {
    background: $button-main;
    color: $white;
    font-size: 13px;
    padding-top: 0em;
    padding-bottom: 0em;

    img {
      max-height: 1.2em;
      margin-right: 0.5em;
      margin-bottom: 0.3em;
    }

    &:hover {
      background: $button-signup-hover;
    }

    &:focus {
      background: $button-signup-focus;
    }
  }

  &.tweet {
    background: $button-main;
    color: $white;
    font-size: 13px;
    padding-top: 0em;
    padding-bottom: 0em;

    img {
      max-height: 1.2em;
      margin-right: 0.5em;
      margin-bottom: 0.3em;
    }

    &:hover {
      background: $button-signup-hover;
    }

    &:focus {
      background: $button-signup-focus;
    }

  }

  &.follow {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $white;
    background: $button-signup-main;

    img {
      max-height: 1em;
      margin-right: 0.5em;
      margin-bottom: 0.1em;
    }

    &:hover {
      background: $button-signup-hover;
    }

    &:focus {
      background: $button-signup-focus;
    }

  }

  &.show-all {
    background: $button-white;
    font-weight: 700;
    padding: 0.4em 1.7em;

  }

  &.login {
    background: $button-login-default;
    margin-right: 0.8em;

    &:hover {
      background: $button-login-hover;
    }

    &:focus {
      background: $button-login-focus;
    }
  }

  &.signup {
    color: $white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: $button-signup-main;

    &:hover {
      background: $button-signup-hover;
    }

    &:focus {
      background: $button-signup-focus;
    }
  }

  &.facebook {
    color: $white;
    background: $button-fb-main;
    display: flex;
    align-items: center;
    font-weight: 700;

    img {

      margin-right: 0.5em;
      margin-bottom: 0.1em;
    }


    &:hover {
      background: $button-fb-hover;
    }

    &:focus {
      background: $button-fb-focus;
    }

  }

  &.subscribe {
    font-weight: 700;
    color: $white;
    padding-left: 2em;
    padding-right: 2em;
    background: $button-signup-main;

    &:hover {
      background: $button-signup-hover;
    }

    &:focus {
      background: $button-signup-focus;
    }
  }

  &.instagram {
    color: $text-main;
    background: $button-instagram-main;
    display: flex;
    align-items: center;
    font-weight: 700;
    border: 1px solid $button-instagram-main;

    img {

      margin-right: 0.5em;
      margin-bottom: 0.1em;
    }


    &:hover {
      background: $button-instagram-hover;
      border: 1px solid $button-gray;
    }

    &:focus {
      background: $button-instagram-focus;
      border: 1px solid $button-instagram-focus;
    }

  }
}

.nav-menu {
  padding-top: 0.5em;

}


header {
  display: flex;
  position: relative;
  height: 60px;
  align-items: center;

  @include respond($sm) {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .site-title {
    font-size: 24px;
    font-weight: 900;

  }

}


.left-block {


  &__inner-wrapper {
    margin-right: 20%;
    background: $background-main;
    @include respond($xl) {
      margin-right: 3%;
    }
  }
}

.nav-menu {
  $root: &;

  &__section {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__section-wrapper {
    padding: 1em 1.6em;
    @include respond($xl) {
      padding: 0.8em;
      overflow: hidden;
    }

    &:first-child {
      #{$root}__image {
        opacity: 0.5;
        margin-right: 1.4em;
        margin-left: 0;


      }

    }
  ;
  }

  &__title {
    color: $text-second;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 13px;
  }

  &__item {
    margin-bottom: 0.8em;

    &.small {
      font-size: 13px;
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;

      cursor: pointer;
      text-decoration: none;
      color: $text-main;

    }

    #{$root}__image {
      width: 24px;
      max-height: 24px;
      margin-bottom: 0.1em;
      margin-left: 0.4em;
      margin-right: 1em;

      &-wrapper {
        width: 24px;
        height: 24px;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
        margin-left: 0.4em;

        #{$root}__image {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }

    #{$root}__item-text {


    }

    &.active, &:hover {
      #{$root}__image {
        opacity: 1;
      }

      #{$root}__item-text {
        font-weight: 700;
      }

    }

  }

  &__soc {

    a {
      text-decoration: none;
      margin-right: 10px;

    }

    &-icon {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

  }
}

.big-block {
  display: flex;
  flex-wrap: wrap;
}


.header {
  &-wrapper {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }

  &-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond($sm) {

    }


    .button-block {
      @include respond($xl) {
        margin-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }
      @include respond($sm) {
        margin-right: 0;
      }
    }

  }

  &-left {
    @include respond($sm) {
      padding: 5px;
    }
  }

}

.login-block {
  display: none;
  width: 445px;
  max-width: 100%;
  z-index: 30;
  box-shadow: 0px 4px 9px #D6D7DD;
  border-radius: 0 0 10px 10px;
  background: $white;
  border-top: 4px solid $button-main;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 70px 60px 70px;
  overflow-y: scroll;
  height: auto;
  @include respond(445px) {
    max-width: calc(100% - 10px);
    padding: 40px calc((100% - 305px) * 0.5);

  }

  &.active {
    display: block;
  }

  .email {
    margin-bottom: 14px;
    background-image: url($img_icons_url + '../../img/icons/mail.svg');
  }

  .password {
    background-image: url($img_icons_url + '../../img/icons/instagram.svg');
  }

  &__title {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  &__forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 20px;
    color: $text-date;
    text-decoration: none;
    margin-bottom: 10px;

  }

  .login {
    display: block;
    width: 100%;
  }

  .subscribe {
    padding-top: 0.55em;
    padding-bottom: 0.55em;
    margin-bottom: 14.5px;
  }

  &__not-a-member {
    text-align: center;
    color: $text-second;
    font-size: 13px;
    padding-bottom: 10px;
    margin-bottom: 14px;

  }

  .buttons-block {
    flex-wrap: wrap;
    flex-direction: column;

    .base-button {
      box-shadow: 0px 4px 9px #D6D7DD;;
      padding: 10px 5px;
      text-align: center;
      color: $text-main;
      background: $white;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 26px;
      display: flex;

      img {
        width: 28px;
        height: auto;
        margin-right: 28px;
        @include respond(445px) {
          margin-right: 10px;
        }
      }
    }
  }

  &__button {
    width: 100%;

    &s-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .base-button {
        width: 46%;
      }
    }
  }

}

.post {

  $root: &;
  background: $background-main;
  overflow: hidden;
  border-radius: 14px;


  &.post-big {
    #{$root}__image-wrapper {
      height: 355px;
      width: 100%;
    }


    #{$root}__image {
      height: 355px;
      object-fit: cover;
      width: 100%;
    }
  ;

    #{$root}__content {
      padding: 0.6em 1.8em 1.8em 1.8em;
      @include respond($sm) {
        padding: 0.6em 1em 1em 1em;
      }

      &-text {
        margin-bottom: 1.4em;
      }
    }

    #{$root}__labels {
      padding: 1.4em 1.4em 0 1.4em;
      @include respond($sm) {
        padding: 1em 1em 0 1em;
      }
    }
  }

  &.post-small {
    margin-bottom: 20px;

    #{$root}__image-wrapper {
      height: 172px;
      @include respond($sm){
        height:355px;
      }
    }

    & + .post-small {
      margin-top: 20px;
    }

    #{$root}__content {
      padding: 0 1em 1em 1em;
      line-height: 1.8em;

      &-text {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
      }

      &-title {
        margin-bottom: 0;

        & + .post__footer {
          margin-top: 1.4em;
        }
      }
    }

    #{$root}__author {
      width: 100%;
      line-height: 2em;
    }

    #{$root}__labels {
      padding: 1em 1em 0 1em;
    }

    #{$root}__content-title {

    }
  }

  &__labels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;

    #{$root}__label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.4em 0.65em;
      font-size: 13px;
      line-height: 1.15em;
      cursor: pointer;
      border-radius: 0.9em;

      &.game {
        margin-right: 0.5em;
        color: $white;
        background: $label-game;

        div {
          margin-bottom: -0.1em;
        }

        img {
          max-width: 15px;
          height: 14px;
          margin-right: 5px;
        }
      }

      &.type {
        margin-right: 0.7em;
        margin-bottom: -0.1em;
        border: 1px solid $button-gray;
      }
    }

    #{$root}__author {
      font-size: 13px;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  &__content {
    &-title {
      //height: 3em;
      max-height: 3em;
      margin-bottom: 0.8em;
      overflow: hidden;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
    }

    &-text {
      max-height: 7em;
      margin-top: 0.5em;
      margin-bottom: 1em;
      overflow-y: hidden;
    }
  }

  &__image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;

    &-wrapper {

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden
    }
  }

  &__footer {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: $text-main;
    }


    &-date {
      font-size: 13px;
      color: $text-date;
      display: flex;
      align-items: center;
    }

    &-comments {
      display: flex;
      align-items: center;

      &-avatars {
        margin-right: 0.5em;

        img {
          position: relative;
          margin-left: -1em;

          &:hover {
            cursor: pointer;
            z-index: 2;
          }

          &:first-child {
            margin-left: 0;
          }
        ;
        }
      }

      &-counter {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 1em;

        img {
          margin-right: 0.3em;
          margin-bottom: 0.2em;
        }


      }
    }
  }
}

.feed {

  &__date {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.3em;


  }

  &-block {
    @include respond($xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__single {
    display: grid;
    grid-template-columns: 2.5em calc(100% - 2.5em);
    grid-template-rows: 1.5em 4.5em;
    line-height: 1.5;
    margin-bottom: 0.5em;
    @include respond($xl) {
      width: 48%;
    }
    @include respond($sm) {
      width: 100%;
    }


    div {

      overflow: hidden;

      &:nth-child(2) {
        line-height: 2;
        font-size: 13px;
        color: $text-date;
      }

      &:nth-child(3) {
        img {
          width: 26px;
          height: auto;
        }
      }
    }


  }

}

.loadingmore-block {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 24px;
    font-weight: 900;
    color: $button-main;
    margin-left: 20px;
  }

  img {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.subscribe-block {
  box-shadow: 0px 4px 9px #D6D7DD;
  border-top: 4px solid #E2005F;;
  border-radius: 0 0 7px 7px;
  height: 220px;
  padding: 20px 50px 0 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  @include respond($sm) {
    height: auto;
    justify-content: center !important;
    padding: 20px 20px;
  }

  &__content {
    flex-wrap: wrap;
    @include respond($sm) {
      align-items: center;
      flex-direction: column;
    }

    .subscribe-email {
      font-size: 16px;
      padding-left: 3.5em;
      background-image: url($img_icons_url + '../../img/icons/mail.svg');

      &-wrapper {
        width: 305px;

        margin-right: 20px;
        @include respond($sm) {
          width: 400px;
          margin-bottom: 15px;
        }

      }

    }

  }

  &__title {
    margin-top: 30px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 45px;
    font-size: 32px;
    @include respond($sm) {
      margin-top: 0;
      text-align: start;
      font-size: 20px;
    }
  }

  &__img-wrapper {
    @include respond($xl) {
      display: none;
    }
  }


}

.category-page {

  border-left: 1px solid #E3E5EA;
  border-right: 1px solid #E3E5EA;
  border-bottom: 1px solid #E3E5EA;
  border-radius: 0 0 7px 7px;
  margin-bottom: 20px;

  h1 {
    padding-left: 0;
  }

  &__image {
    position: relative;
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 45px;
  }

  &__icon {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 33%;
    left: 4%;
    box-shadow: 0px 4px 9px #D6D7DD;
    background: $white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 65%;
      max-width: 65%;

    }
  }

  &__content {
    padding: 0 40px;
  }

  &__text {
    line-height: 1.5;
    max-height: 3em;
    overflow: hidden;
    margin-bottom: 1em;

  }

  &__games {
    display: flex;

    &-item {
      padding: 0.5em;
      display: flex;
      align-items: center;
      border-radius: 2px;
      background-color: $background-main;
      margin-right: 0.8em;
      line-height: 1;

      img {
        width: 19px;
        max-height: 19px;
        margin-right: 0.5em;

      }
    }
  }

  &__selectors {
    display: flex;

    &-item {
      padding: 15px 15px 5px 5px;
      font-weight: 700;
      border-bottom: 3px solid transparent;;
      cursor: pointer;

      &:hover, &.active {

        border-bottom: 3px solid $button-signup-main;
      }
    }

  }
}

.tags-block {
  display: flex;
  flex-wrap: wrap;

  &__single {
    background: $background-main;
    border-radius: 3px;
    font-size: 16px;
    padding: 0.25em 0.75em;
    margin-right: 0.6em;
    margin-bottom: 0.6em;


  }

}

.news-block {
  background: $background-main;
  border-radius: 10px;
  padding: 1em 2em;

  & + .news-block {
    margin-top: 1.5em;
  }

  &__date {
    color: $text-main;
    font-size: 16px;
    font-weight: 700;

  }

  &__item {
    display: flex;
    padding: 1em 0;

    &-buttons {
      flex-wrap: wrap;

      .base-button {
        margin-right: 10px;
        margin-bottom: 10px;
      }

    }


    &-image {
      margin-right: 10px;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      font-weight: 700;
      line-height: 1.4;

    }

    &-info {
      display: flex;
      line-height: 1.4;
      color: $text-date;
      font-size: 13px;
    }

    &-time {
      margin-right: 10px;
    }


  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 60px auto;

  &-single {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: $background-main;
    cursor: pointer;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.3em;
    font-size: 17px;

    font-weight: 400;


    &.active {
      background: $button-main;
      color: $white;
    }

    &.placeholder {
      background: transparent;
      cursor: none;
    }

  }
}


.lg-menu {

  @include respond($lg) {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    width: 280px;
    transform: translateX(-100%);
    height: 100%;

    &.active {
      transform: translateX(0);
      z-index: 20;

    }
  }
}

.reviews-block {
  display: flex;
  @include respond($xl) {
    flex-wrap: wrap;
  }
}

.article {
  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    div {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      margin-right: 1.5em;
      color: $text-date;

      img {
        margin-right: 0.3em;
      }
    }

  }

  &__title {
    padding-left: 0;
    margin-bottom: 10px;

  }

  &__label {
    background-color: $background-main;
    padding: 0 0.5em;
    margin-right: 1em !important;
    color: $text-main;
  }

  &__comments {
    text-decoration: underline;
  }

  &__header-second {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
    flex-wrap: wrap;
  }

  &__author {
    display: flex;

    &-ava {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1em;

      img {
        width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      font-size: 13px;
      color: $text-date;
      line-height: 1.3em;
    }

    &-name {
      line-height: 1.3em;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__share {
    display: flex;
    align-items: center;

    div {
      margin-right: 1em;
    }
  }

  &__time {
    font-size: 13px;
    color: $text-second;

  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 1em;

  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    color: $text-second;
    margin-bottom: 1em;
  }


  &__table {
    background-color: $background-main;
    padding: 1.5em 3em;
    border-radius: 10px;
@include respond($sm){
  padding: 1.5em 1.5em;
}
    h2 {
      padding-left: 0;
      font-size: 24px;
    }

    li {
      font-size: 20px;
      line-height: 40px;
      font-weight: 700;
    }

  }


}

.image-wrapper {
  width: 100%;

  &.facebook {
    width: 50%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.recommended-block {
  padding: 1em 2em;
  background: $background-second;
  border-top: 4px solid $button-main;
  border-radius: 0 0 10px 10px;

  &__title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.6em;


  }

  ol {
    font-size: 16px;
    line-height: 2em;
    font-weight: 400;


  }
}

.quote-block {
  font-size: 24px;
  position: relative;
  padding: 0.4em 0 0.4em 3.5em;
  color: $text-date;
  line-height: 1.8em;

  &:before {
    content: '';
    width: 2.6em;
    height: 2em;
    position: absolute;
    left: 0.45em;
    top: 0.45em;

    background-image: url($img_icons_url + '../../img/icons/quote.svg');
    background-size: contain;
    background-repeat: no-repeat;


  }

  @include respond($sm) {
    padding-left: 2.5em;
    font-size: 18px;
    &:before {
      width: 1.8em;
      height: 1.4em;
      top: 0.7em;
    }

  }
}

.finger-ul {

  li {
    font-size: 18px;
    padding-left: 38px;
    position: relative;
    line-height: 2em;

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 0.3em;

      background-image: url($img_icons_url + '../../img/icons/finger.svg');
      background-size: contain;
      background-repeat: no-repeat;

    }
  }
}

.share-buttons-block {
  display: flex;
  margin-bottom: 2em;
  flex-wrap: wrap;

  .base-button {
    margin-right: 0.5em;
    margin-bottom: 10px;
  }

  .comment {
    font-weight: 700;
    font-size: 16px;
  }

  .article-fix {
    display: flex;
    align-items: center;
    font-weight: 700;


    img {
      margin-bottom: 0.2em;
      padding-right: 8px;
    }
  }

}

.container {
  overflow: hidden;
}

.article__actions {
  @include respond($lg) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include respond($sm) {
    justify-content: flex-start;
  }

  .voting-block {
    box-shadow: 0px 4px 9px #D6D7DD;
    border-radius: 15px;
    width: 60px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 20px;
    @include respond($lg) {
      flex-direction: row;
      align-items: center;
      width: auto;
      height: 60px;
      margin-left: 0;
      margin-right: 20px;
    }


    &__count {

      font-size: 18px;
      margin-bottom: 12px;
      color: $text-date;
      @include respond($lg) {
        margin-bottom: 0;
        margin-right: 10px;
      }

    }

    &__up {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4px 0 10px 0;
      border-bottom: 1px solid #E3E5EA;
      @include respond($lg) {
        padding: 0 10px 0 4px;
        border-bottom: none;
        border-right: 1px solid #E3E5EA;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 60px;
      }


    }

    &__down {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0 10px 0;
      @include respond($lg) {
        padding: 0 10px 0 10px;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 60px;
      }


    }
  }

  .comment {
    margin-bottom: 20px;
    border-radius: 15px;
    color: $text-date;
    box-shadow: 0px 4px 9px #D6D7DD;
    margin-left: auto;
    width: 60px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0 15px 0;
    @include respond($lg) {
      flex-direction: row;
      width: auto;
      height: 60px;
      padding: 0 10px 0 10px;
      margin-left: 0;
    }

    &__count {
      font-size: 18px;
      margin-bottom: 12px;
      color: $text-date;
      @include respond($lg) {

        margin-bottom: 0;
        margin-right: 12px;
      }
    }


  }

  .article__share {
    width: 60px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    @include respond($lg) {

      width: auto;
      height: 60px;
      flex-direction: row;

    }
    @include respond(530px) {
      margin-left: 0;
      margin-bottom: 20px;
    }

    &-icon {

      margin-bottom: 20px;
      margin-right: 0;
      @include respond($lg) {
        margin-right: 20px;
        margin-bottom: 0;
      }

      img {
        width: 24px;
        height: auto;
      }
    }


  }
}

.author-block {
  padding: 1.5em 1.5em;
  background: $background-second;
  border-top: 4px solid $button-main;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  @include respond($lg) {
    flex-direction: column;
  }

  &__author {
    display: flex;
  }

  &__ava {
    margin-right: 20px;
  }

  &__name {
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
  }

  &__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 2em;
    color: $text-date;


  }

  &__list-title {
    font-weight: 900;
    font-size: 18;
  }

  ol {
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;

    li {
      margin-top: 10px;
      margin-bottom: 10px;

    }


  }
}

.comments-block {

  &__title {
    font-weight: 900;
    font-size: 18px;
  }

  &__input {
    width: 100%;
    background-color: #F0F2F5;
    position: relative;


    input {
      background-image: url($img_icons_url + '../../img/icons/comment-post.svg');

      padding: 15px 12px 15px 40px;
      font-size: 16px;

    }

    .base-button {
      border-radius: 26px;

      &.login {
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translateY(-50%);
        color: $button-main;
        border: 1px solid $button-main;
        background: $white;


      }

      &.signup {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);

      }
    }
  }

  &__content {
    &-section {
      .single-comment {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        &__ava {
          margin-right: 15px;
          margin-top: 8px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;

          }
        }

        &__content {

        }

        &__top {
          display: flex;
          flex-wrap: wrap;
        }

        &__name {
          font-weight: 700;
          font-size: 16px;
        }

        &__date {
          font-size: 13px;
          color: $text-date;
        }

        &__text {
          line-height: 2;
          font-size: 16px;
          margin-bottom: 5px;

        }

        &__bottom {
          display: flex;
          align-items: center;

          &-reply {
            color: $text-date;
            margin-right: 15px;
          }

        }

        &__vote {
          display: flex;
          align-items: center;

          &-count {
            font-weight: 700;
            color: $button-login-focus;
            margin-right: 10px;
          }

          &-up, &-down {
            margin-right: 10px;
            height: 26px;
            width: auto;

          }
        }


      }
    }

  }


}

.burger {

  &__wrap {


    display: none;


    @include respond($lg) {
      display: flex;
      align-items: center;
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }
    @include respond($sm) {
      top: 20px;
      right: 1em;
      transform: none;
    }
  }

  cursor: pointer;
  transform: rotateY(0);
  @include easeOut;


  &__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: $button-main;
    @include easeOut;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover,
  &.active {
    transform: rotate(180deg);

    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }
}

.focusbackground {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  display: none;
  z-index: 10;

  &.active {
    display: block;

  }
}

.navigation {
  &.active {
    transform: translate3d(0, 0, 0);
  }

  transform: translate3d(-100%, 0, 0);
  transition: easeOut;
  //width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
